/* チャット画面用 */
.chat-scrollbar::-webkit-scrollbar {
    width: 14px;
  }
  
  .chat-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 999px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    background-clip: padding-box;
  }
  
  .chat-scrollbar::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* テキストエリア用 */
  .textarea-scrollbar::-webkit-scrollbar {
    width: 14px;
  }
  
  .textarea-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    background-clip: padding-box;
  }
  
  .textarea-scrollbar::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* ダイアログ用 */
  /* .hide-scrollbar::-webkit-scrollbar {
    display: none;
  } */
  
  .dialog-scrollbar::-webkit-scrollbar {
    width: 20px;
  }
  
  .dialog-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 999px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    background-clip: padding-box;
  }
  
  /* 履歴用 */
  .history-scrollbar::-webkit-scrollbar {
    width: 14px;
  }
  
  .history-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 999px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    background-clip: padding-box;
  }
  
  /* メニュー用 */
  .menu-scrollbar::-webkit-scrollbar {
    width: 14px;
  }
  
  .menu-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 999px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    background-clip: padding-box;
  }
  
  .menu-scrollbar::-webkit-scrollbar-track {
    margin-bottom: 2px;
  }
  
  /* テーブル用 */
  .table-scrollbar::-webkit-scrollbar {
    height: 14px;
  }
  
  .table-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 999px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-clip: padding-box;
  }
  
  /* タブメニュー用 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }