@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Sans JP", sans-serif;
  }
}

@layer components {
  @keyframes slidein-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slidein-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.slide-in-right {
  animation: slidein-right 0.5s ease-in-out;
}

.slide-in-left {
  animation: slidein-left 0.5s ease-in-out;
}
