@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans JP', sans-serif;
  }
}

@layer components {
  @keyframes slidein-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slidein-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .section-header {
    @apply w-full border-b-[1.5px] border-emerald-600 pb-2 font-bold;
  }

  .numbered-list {
    @apply list-decimal pl-[18px] text-[15px] text-gray-900;
  }

  .small-gray-text {
    @apply text-[15px] text-gray-900;
  }
}

.slide-in-right {
  animation: slidein-right 0.5s ease-in-out;
}

.slide-in-left {
  animation: slidein-left 0.5s ease-in-out;
}

.triangle {
  height: calc(30px / 2 * tan(60deg));
  width: 30px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
